a {
  color: #FF486E;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;

  &:hover {
    color: #b6334d;
    transform: scale(1.1); 
  }

  &:active {
    color: #6f1d2e;
  }

  &:visited {
    color: #c7082f;
  }
}